<!doctype html>
    <html lang="en">
    <head>
      <title>Modificar usuario</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="./css/style.css">
      <link rel="icon" href="img/estimatico.ico" type="image/x-icon">
    </head>
    <body>
      <header class="container-nav">
        <nav class="navigation"><!--NAV-BAR-->
          <a href="index.html" class ="logo">
            <img src="img/logo-ESTIMAT-03.png" alt="logo-estimat">
          </a>
          <!--BOTON HAMBURGUESA el valor checkbox permite activar y desactivar una opcion -->
          <input type="checkbox" id="menu-check"><!--input crea un campo de entrada/CHEQUEAR/-->
          <label class="nav-button"
            for="menu-check"><!--label crea una etiqueta para identificar un elemento de formulario, el BOTON HAMBURGUESA-->
            <span></span>
            <span></span>
            <span></span>
          </label>
          <!-- MENU -->
          <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="login.html"><img class="usuario" src="/img/usuario.png" alt=""></a></li><!--login-->
            
          </ul>
    
        </nav>
    
      </header>
      
      <main>
        <div class="container-update" id="app">
          
          <form class="form-editar">
            <h1>Modificar usuario</h1>
            <label for="id">Id</label>
            <input type="text" disabled v-model="id">
        
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email" v-model="email">
        
        
            <label for="password"></label>
            <input type="password" name="password" id="contrasena" placeholder="Password" v-model="contrasena">
        
        
            <!-- <label for="confirm-password"></label>
            <input type="password" name="password" id="confirmPassword" placeholder="Retype password" v-model="confirmPassword"> -->
        
        
            <label for="rol"></label>
            <input type="number" name="rol" id="rol" placeholder="Rol" v-model="rol">
        
            <button type="button" class="button-form" v-on:click="modificar()">Actualizar</button>
          </form>
        </div>
      
      </main>
      <footer>
        <!-- place footer here -->
      </footer>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"> </script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="./js/usuario_editar.js"></script>
    </body>
    </html>
    